
*
{
    padding: 0;
    margin: 0;
   box-sizing: border-box;
}
h2{
    color: aliceblue;
}
 nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
     padding: 10px 30px;
     position: sticky;
     top: 0;
}
.cont a:hover{
    background-color: brown;

}
nav .cont > ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  
}

.cont li ul {
      position: absolute;
    display: none;
}

.hover:hover ul {
    display: block;
    background-color: black;
    padding: 10px;
    list-style-type: none;
}

.cont li ul li :hover {
    background-color: rgb(170, 84, 84);
    
}

nav .cont a {
    text-decoration: none;
    color: white;
    padding: 0 1rem;
}
.home h2{
    color: black;
    text-align: center;
}
.home p{
    text-align: justify;
}
.home{
    border: solid;
    margin: 50px 80px;
    padding: 60px;
    background-color: rgb(223, 199, 138);
}
.About h2{
    color: black;
    text-align: center;
}
.About p{
    text-align: justify;
}
.About{
    border: solid;
    margin: 50px 80px;
    padding: 60px;
    background-color: rgb(236, 223, 188);
}
.Profile h2{
    color: black;
    text-align: center;
}
.Profile p{
    text-align: justify;
}
.Profile{
    border: solid;
    margin: 50px 80px;
    padding: 60px;
    background-color: rgb(179, 156, 179);
}
.Log-out h2{
    color: black;
    text-align: center;
}
.Log-out p{
    text-align: justify;
}
.Log-out{
    border: solid;
    margin: 50px 80px;
    padding: 60px;
    background-color: rgb(116, 109, 116);
    
}
.btn i {
    font-size: 25px;
    color: black;
    list-style-type: none;
  }
  #btn{
    display: none; /* Hide initially */
    position: fixed;
    bottom: 20px;
    right: 30px;
    /* Ensure it stays above other content */
}